---
import "../styles/global.css";
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";

const pageTitle = "About Me - Astro Tutorial";
const headerTitle = "About Me ";

const identity = {
  firstName: "Mariam",
  country: "Valencia, Spain",
  occupation: "Digital product designer and developer",
  hobbies: ["videogames", "Reading", "hiking"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Vue",
  "Astro",
  "Figma",
];
---

<Layout title={pageTitle}>
  <Header title={headerTitle} />

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</Layout>
